<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyKeyboard">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="キーボード設定"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.MyKeyboard" />

        <activity android:name=".KeyEditorActivity" android:exported="false" android:label="キー一覧" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".KeyDetailActivity" android:exported="false" android:label="キー編集" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyKeyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MathKeyboardService"
            android:exported="true"
            android:label="数学キーボード"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>

</manifest>